In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [2]:
df =pd.read_csv('cardio.csv')

In [5]:
df

,id,age,gender,height,weight,ap_hi,ap_io,cholesteral,glue,smoke,alco,active,cardio
0,1,20,2,168,62.5,123,80,2,0,1,0,1,0
1,2,34,1,145,64.2,121,90,1,0,1,0,0,1
2,3,56,1,156,65.3,102,60,2,0,0,0,1,1
3,4,34,2,165,70.3,107,78,2,0,0,1,0,0
4,5,65,2,168,80.3,104,89,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,183,82,1,163,43.6,123,93,1,0,2,1,1,1
174,184,73,2,138,123.4,176,84,2,0,0,0,0,0
175,185,92,1,145,65.3,123,96,2,1,0,1,1,1
176,186,29,2,123,70.3,180,85,2,0,1,1,0,0
177,187,19,1,145,80.3,145,87,3,1,0,0,1,1

In [6]:
df.shape

(178, 13)

In [7]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_io          0
cholesteral    0
glue           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [8]:
#messing = df.gender.mean()

In [9]:
#df.gender=df.gender.fillna(messing)

In [10]:
#df

In [11]:
x= df.drop(['cardio'],axis=1)

In [12]:
x

,id,age,gender,height,weight,ap_hi,ap_io,cholesteral,glue,smoke,alco,active
0,1,20,2,168,62.5,123,80,2,0,1,0,1
1,2,34,1,145,64.2,121,90,1,0,1,0,0
2,3,56,1,156,65.3,102,60,2,0,0,0,1
3,4,34,2,165,70.3,107,78,2,0,0,1,0
4,5,65,2,168,80.3,104,89,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
173,183,82,1,163,43.6,123,93,1,0,2,1,1
174,184,73,2,138,123.4,176,84,2,0,0,0,0
175,185,92,1,145,65.3,123,96,2,1,0,1,1
176,186,29,2,123,70.3,180,85,2,0,1,1,0
177,187,19,1,145,80.3,145,87,3,1,0,0,1

In [13]:
y = df['cardio']

In [14]:
y

0      0
1      1
2      1
3      0
4      1
      ..
173    1
174    0
175    1
176    0
177    1
Name: cardio, Length: 178, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [53]:
xtrain,ytest,ytrain,ytest = train_test_split(x,y,test_size=.40,random_state=1)

In [55]:
xtrain

,id,age,gender,height,weight,ap_hi,ap_io,cholesteral,glue,smoke,alco,active
168,178,75,2,145,67.1,139,76,2,0,1,1,1
175,185,92,1,145,65.3,123,96,2,1,0,1,1
118,128,60,2,145,70.3,165,96,2,1,0,0,0
75,77,29,2,123,70.3,180,85,2,0,1,1,0
21,22,56,2,123,123.4,198,75,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
133,143,73,2,138,123.4,176,84,2,0,0,0,0
137,147,23,2,156,67.9,137,82,3,0,1,1,1
72,74,82,1,163,43.6,123,93,1,0,2,1,1
140,150,43,2,178,90.4,125,75,3,1,0,0,0
37,38,78,1,193,123.4,176,58,2,0,1,0,1

In [56]:
ytrain

168    1
175    1
118    1
75     0
21     1
      ..
133    0
137    0
72     1
140    0
37     1
Name: cardio, Length: 106, dtype: int64

In [58]:
model = SVC(gamma='auto')

In [60]:
model.fit(xtrain,ytrain)

SVC(gamma='auto')

In [62]:
from sklearn.ensemble import RandomForestClassifier

In [63]:
clf = RandomForestClassifier()

In [64]:
clf.fit(xtrain,ytrain)

RandomForestClassifier()

In [65]:
from sklearn.tree import DecisionTreeClassifier

In [66]:
num = DecisionTreeClassifier()

In [67]:
num.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [68]:
from sklearn.naive_bayes import GaussianNB

In [69]:
GBN = GaussianNB()

In [70]:
GBN.fit(xtrain,ytrain)

GaussianNB()

In [73]:
from sklearn.naive_bayes import MultinomialNB

In [74]:
MGB= MultinomialNB()

In [80]:
MGB.fit(xtrain ,ytrain)

MultinomialNB()

In [82]:
from sklearn.naive_bayes import BernoulliNB

In [85]:
GBB = BernoulliNB()

In [86]:
GBB.fit(xtrain,ytrain)

BernoulliNB()