In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df =pd.read_csv('forest.csv')

In [3]:
df

   hight  wight  shoe size  gender
0    181     80         44    male
1    156     67         45  female
2    176     87         34  female
3    187     56         56    male
4    165     50         43    male
5    160     55         42  female
6    168     51         41  female
7    180     54         35  female
8    164     70         60    male

In [4]:
x = df.iloc[0:,:-1]

In [5]:
x

   hight  wight  shoe size
0    181     80         44
1    156     67         45
2    176     87         34
3    187     56         56
4    165     50         43
5    160     55         42
6    168     51         41
7    180     54         35
8    164     70         60

In [6]:
y =df.iloc[:,3]

In [7]:
y

0      male
1    female
2    female
3      male
4      male
5    female
6    female
7    female
8      male
Name: gender, dtype: object

In [8]:
obj = tree.DecisionTreeClassifier()

In [9]:
ran = obj.fit(x,y)

In [10]:
ran

DecisionTreeClassifier()

In [11]:
prediction = obj.predict([[164,44,35]])

In [14]:
prediction

array(['female'], dtype=object)

# save machine_learning projects model

In [15]:
import pickle as pk
with open("My model1","wb") as file:
    pk.dump(ran,file)

# Dafualt techinek

In [17]:
import pickle as pk
pk.dump(ran,open('model1','wb'))